.col-sm {
    border: solid rgb(121, 131, 125) 1px;
}

@media (max-width: 767.98px) {
    .mr-2 {
        margin-right: 0px !important;
    }
    .mt-0 {
        margin-top: 7px !important;
    }
    .mx-5 {
        margin-right: 0px !important;
        margin-left: 0px !important;
    }
    h2 {
        margin-left: 20px;
    }
}